@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600&family=Work+Sans:wght@600;800&display=swap');

:root {
    --odp-main: #36393f;
    --odp-profile: #18191c;
    --odp-brand-blue: #5865F2;
    --odp-profilepx-borderrad: 8px;
    
    --odp-font-thick: 'Work Sans', sans-serif;
    --odp-font-normal: 'Catamaran', sans-serif;
    
    --text-header-color: #ffffff;
    --text-header-color-secondary: #b9bbbe;
    --text-color: #dcddde;
}

* {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

body {
    background-color: var(--odp-main);
}

.nb-odp-main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    max-height: 100%;
    background: var(--odp-main);
    display: grid;
    place-content: center;
}

.nb-odp-box {
    width: auto;
    max-width: 100vw;
    height: auto;
    background-color: var(--odp-profile);
    border-width: 0px;
    border-style: solid;
    border-radius: var(--odp-profilepx-borderrad);
    overflow: hidden;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto auto auto;
}

@media (min-width: 768px) {
    .nb-odp-box {
        min-width: 30rem;
        grid-template-columns: 60% 40%;
        grid-template-rows: 80px auto auto;
    }
}

.nb-odp-banner {
    width: 100%;
    height: 100%;
    background: rgb(191,76,191);
    background: linear-gradient(153deg, rgba(191,76,191,1) 0%, var(--odp-brand-blue) 17%, var(--odp-brand-blue) 34%, rgba(191,76,191,1) 65%);

    grid-column: span 1;
    grid-row: span 1;

    position: relative;
}

@media (min-width: 768px) {
    .nb-odp-banner {
        grid-column: span 2;
    }
}

@media (min-width: 768px) {
    .nb-odp-banner .nb-odp-logo {
        position: absolute;
        top: 0;
        right: 1rem;
        width: 5rem;
        height: 5rem;
        background-image: url(/assets/odplogo.webp);
        background-position: center;
        background-size: cover;
    }
}

.nb-odp-banner h1 {
    position: absolute;
    top: 0;
    left: 2rem;
    height: 5rem;

    margin: 0;
    display: flex;
    align-items: center;
    
    font-family: var(--odp-font-thick);
    color: var(--text-header-color);
    font-weight: 800;
}

.nb-odp-contents {
    padding: 1rem 2rem;
    position: relative;

    grid-column: span 1;
    grid-row: span 1;
}

.nb-odp-contents hr {
    color: #888888;
}

.nb-odp-lookupsection h2 {
    color: var(--text-color);
    font-size: 1.3rem;
    font-family: var(--odp-font-thick);
}

.nb-odp-lookupsection .nb-odp-input {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;

    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: black;
    border-radius: 0.2em;
    overflow: hidden;

    transition: border 0.1s ease-in-out;
}

.nb-odp-lookupsection .nb-odp-input:hover {
    border-color: var(--odp-brand-blue);
}

.nb-odp-lookupsection .nb-odp-input:focus-within {
    border-color: var(--odp-brand-blue);
}

.nb-odp-lookupsection .nb-odp-input input {
    color: var(--text-color);
    font-family: monospace;
    font-size: 1.1em;

    background-color: #303339;
    border-style: none;
    padding: 0.3em 0.8em;

    width: 100%;    
}

.nb-odp-lookupsection .nb-odp-input input:focus {
    outline: none;
}

.nb-odp-lookupsection .nb-odp-input button {
    color: var(--text-color);
    font-family: var(--odp-font-normal);
    margin: 0;

    background-color: var(--odp-brand-blue);
    border-style: none;
    border-width: 0;
    padding: 0.3em 0.8em;
    width: 100%;

    transition: background-color 0.1s ease-in-out;
}

.nb-odp-lookupsection .nb-odp-input button:hover {
    background-color: #3543df;
}

.nb-odp-lookupsection .nb-odp-input button:focus {
    background-color: #3543df;
}

#odperror:empty {
    display: none;
}

#odperror {
    display: block;
    width: 100%;
    padding: 0.3em 0.8em;
    margin: 0.2em 0;

    background-color: black;
    border-radius: 0.2em;
    color: var(--text-color);
    font-family: var(--odp-font-normal);
    font-weight: 600;
}

#odperror:before {
    content: "\f05a";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    padding-right: 0.3em;
}

.nb-odp-info h3 {
    color: var(--text-color);
    font-size: 1.3rem;
    font-family: var(--odp-font-thick);
}

.nb-odp-info ul {
    color: var(--text-color);
}

.nb-odp-footer {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

@media (min-width: 768px) { 
    .nb-odp-footer {
        grid-column: span 2;
    }
}

.nb-odp-credits {
    display: flex;
    gap: 0.8rem;
    justify-content: start;

    width: 100%;
    font-size: 1em;
    color: var(--text-color);
    padding: 0.5rem 2rem;
}

.nb-odp-credits * {
    margin: 0;
}

.nb-odp-credits a {
    color: var(--text-color);

    transition: color 0.1s ease-in-out;
}

.nb-odp-credits a:hover {
    color: var(--odp-brand-blue);
}

.nb-odp-links {
    display: flex;
    gap: 0.8rem;
    justify-content: end;

    padding: 0.5rem 2rem;

    width: max-content;
    font-size: 1.3em;
}

.nb-odp-links a {
    color: white;

    transition: box-shadow 0.1s ease-in-out;
}

.nb-odp-links a:hover {
    color: white;
    box-shadow: 0 0 1rem black;
}